<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mixpush.fcm">
    <application>
        <!--<service android:name=".java.MyFirebaseMessagingService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!--&lt;!&ndash; Set custom default icon. This is used when no icon is set for incoming notification messages.-->
     <!--See README(https://goo.gl/l4GJaQ) for more. &ndash;&gt;-->
        <!--<meta-data-->
                <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
                <!--android:resource="@drawable/ic_stat_ic_notification" />-->
        <!--&lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming-->
             <!--notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;-->
        <!--<meta-data-->
                <!--android:name="com.google.firebase.messaging.default_notification_color"-->
                <!--android:resource="@color/colorAccent" />-->
        <!--<meta-data-->
                <!--android:name="com.google.firebase.messaging.default_notification_channel_id"-->
                <!--android:value="@string/default_notification_channel_id" />-->
    </application>
</manifest>
