<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mixpush.demo">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--需要定义一个receiver 或 Service 来接收透传和通知栏点击的信息，建议使用Service，更加简单-->
        <!--请在Application 调用 MixPushClient.setPushIntentService(PushIntentService.class);-->
        <service android:name=".PushIntentService"/>

        <!--<receiver-->
            <!--android:name=".MyPushMessageReceiver"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.mixpush.RECEIVE_THROUGH_MESSAGE" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.mixpush.NOTIFICATION_ARRIVED" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.mixpush.NOTIFICATION_CLICKED" />-->
            <!--</intent-filter>-->

            <!--<intent-filter>-->
                <!--<action android:name="com.mixpush.ERROR" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>