<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.mixpush.vivo">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <!--Vivo Push开放平台中应用的appid 和api key-->
        <meta-data
                android:name="com.vivo.push.api_key"
                android:value="${VIVO_APP_KEY}" />
        <meta-data
                android:name="com.vivo.push.app_id"
                android:value="${VIVO_APP_ID}" />

        <receiver android:name="com.mixpush.vivo.PushMessageReceiverImpl"
            android:exported="false">
            <intent-filter>
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 该字段大于等于480，则表示支持点击消息直接打开应用activity，优化启动慢问题。 -->
        <meta-data
            android:name="sdk_version_vivo"
            android:value="484" />

        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:permission="com.push.permission.UPSTAGESERVICE"
            android:exported="true"/>

        <meta-data
            android:name="local_iv"
            android:value="MzMsMzQsMzUsMzYsMzcsMzgsMzksNDAsNDEsMzIsMzgsMzcsMzYsMzUsMzQsMzMsI0AzNCwzMiwzMywzNywzMywzNCwzMiwzMywzMywzMywzNCw0MSwzNSwzNSwzMiwzMiwjQDMzLDM0LDM1LDM2LDM3LDM4LDM5LDQwLDQxLDMyLDM4LDM3LDMzLDM1LDM0LDMzLCNAMzQsMzIsMzMsMzcsMzMsMzQsMzIsMzMsMzMsMzMsMzQsNDEsMzUsMzIsMzIsMzI" />
    </application>
</manifest>
